spring:
  datasource:
    url: jdbc:h2:file:./.data/devdb;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: validate   # rely on Flyway to create/upgrade schema
    open-in-view: false
    properties:
      hibernate.format_sql: true

  h2:
    console:
      enabled: true
      path: /h2

  flyway:
    enabled: true
    locations: classpath:db/migration

logging:
  level:
    org.hibernate.SQL: warn
